body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(-60deg, #c5dde2, #5f6869) no-repeat;
    background-size: 100% 300%;
    z-index: -1;
}

a {
    text-decoration: none;
    color: inherit;
}

/* --- BACKGROUND IDS --- */
#background {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
}
#fixedBackground {
    position: fixed;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background: linear-gradient(-60deg, #c5dde2, #5f6869);
    display: flex;
    align-items: center;
}

/* --- NAVBAR & FOOTER --- */
.navbar {
    z-index: 1; /* set z index to ensure it's above the background */
    background-color: #ececec;
}
li {
    margin: 2px;
}
footer {
    position: fixed; /* Change to fixed */
    bottom: 0; /* Align to bottom of viewport */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    color: #ececec;
}


/* --- INDEX PAGE --- */
img {
    max-width: 100%; /* ensure image does not exceed container width */
    height: auto; /* maintain aspect ratio */
    display: block; /* remove extra space around the image */
    margin-bottom: 10%;
}
#codingGif {
    margin-top: 10%;
    margin-bottom: 5%;
}

#text-container {
    flex: 1; /* take up remaining space */
}
#image-container {
    flex: 1; /* take up remaining space */
    padding-right: 20px;
}

h1 {
    color: #E75646;
}
h2 {
    color: #ececec;
}
h1, h2 {
    text-align: center;
    margin-left: 20px;
    padding-top: 1.5%;
}

.navbar .nav-item .nav-link {
    background-color: transparent;
    color: #2d2d2d;
    font-weight: bold;
}
.navbar-dark.bg-dark .navbar-brand {
    color: #ffffff;
}


/* --- HOVER FORMATS --- */
#hoverable:hover {
    background-color: white;
}
.navbar .nav-item .nav-link:hover {
    color: #E75646;
}
/* default hoverable text / button style */
#hoverable {
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container {
    padding-top: 75%;
    padding-bottom: 15%;
}
.refactoringContainer {
    padding-top: 5%;
    padding-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
}

/* --- MEDIA TAGS --- */
@media (max-width: 991px) {
    #image-container {
        display: none;
    }
    #text-container {
        margin-top: 0.5%;
    }
}
@media (min-width: 992px) {
    #text-container {
        padding-top: 0;
        margin-top: 0;
    }
    div.container {
        padding-top: 50%;
    }
}
